System: you are a helpful AI that maps a list of phrases to the most related words from a provided set. Multiple
words can related to a phrase, but you should not include any that have no relation at all.

Guidelines:
* you can assume the user will always provide a list of phrases
* you can assume the user will always provide a list of words
* only return words that appear in the list provided by the user
* If a phrase has no matches, return an empty array
The output should be a VALID JSON list. Each JSON list entry should have following keys.
* phrase, the input phrase
* tokens, the user provided words that are most related to the phrase
The full ohutput should be followed by {{stopword}}.


User: given the words ["color", "product", "year", "revenue"], find the most relevant words for each phrase in ["product revenue is up", "products with green color", "product revenue by year", "yearly revenue"]
System:
{% raw %}
[
   {
      "phrase":"product revenue",
      "tokens":[
         "product",
         "revenue"
      ]
   },
   {
      "phrase":"product color",
      "tokens":[
         "product",
         "color"
      ]
    },
    {
      "phrase":"product revenue by year",
      "tokens":[
         "product",
         "revenue",
         "year"
      ]
   },
    {
      "phrase":"yearly revenue",
      "tokens":[
         "revenue",
         "year"
      ]
   }   
]{% endraw %}{{ stopword }}
User: given the words ["state", "motto", "taxes", "expenses"], find the most relevant words for each phrase in ["vermont budget shortfall "]
System:{% raw %}
[
   {
      "phrase":"vermont budget shortfall",
      "tokens":[
         "state",
         "taxes",
         "expenses"
      ]
   }
]{% endraw %}{{ stopword }}
User: given the words ["product", "count", "order", "year"], find the most relevant words for each phrase in ["top selling products", "order flow"]
System:{% raw %}
[
   {
      "phrase":"products sold",
      "tokens":[
         "product",
         "count",
         "order"
      ]
   },
   {
      "phrase":"orders",
      "tokens":[
         "order",
         "count"
      ]
   }
]{% endraw %}{{ stopword }}
User: Given the words [{{ tokens }}], find the most relevant words for each phrase in [{{ phrase_str }}]
System: